html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.background {
    background-color: rgb(244, 244, 225);
}

.darkBackground {
    background-color: rgb(100, 100, 98);
}

.button {
    border: 3px black;
    color: brown;
    padding: 15px;
}

.hidden {
    display: none;
}

.image {
    margin: 5% 25%;
    border-radius: 10%;
}

.bigLetters {
    text-transform: uppercase;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9ee5c9836e48d1091cf5c65b7ce14d05d35d2380
